.container{
    max-width: 400px;
    width: 100%;
    background:white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container form {
    display:flex;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 20px 25px;
}

.container form .title{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.container form label{
    margin-bottom: 35px;
}

.container form img{
    margin-right: 10px;
}

.container form label input{
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px black;
    padding: 0 30px;
}

.container span{
    margin-right: 170px;
    font-size: 15px;
    font-weight: 700;
}

.container form .link{
    color:black;
    margin-left: 110px;
    margin-bottom: 15px;
}

.container form button{
    color: black;
    text-decoration: none;
    border: none;
    background: rgb(83, 165, 165);
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

.container form button a{
    text-decoration: none;
    color: black;
}