<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/estilos.css">


  <title>Tecnologic World</title>
</head>

<body>
  <!--Barra de navegacion-->
  <div class="top-navbar" id="nav2">
    <p>Tecnologic World</p>
    <div class="icons">
      <a href="login.html"><img src="../../resources/img/usuario.png" alt="" width="32px" height="32">Iniciar Sesion</a>
      <a href="registrarse.html"><img src="../../resources/img/icono registrarse.png" alt="" width="32px"
          height="32">Registrarse</a>
      <a href="carrito.html"><img src="../../resources/img/icono carrito.png" alt="" width="32px"
          height="32px">Carrito</a>
    </div>
  </div>
  <!--Sub barra de navegacion-->
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"></a>
      <img src="../../resources/img/Logo tienda.png" alt="" width="45" height="45" id="img">
      <span class="align-middle" id="banner">El mundo que nos conecta</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="catVideo.html">Video</a></li>
              <li><a class="dropdown-item" href="catAudio.html">Audio</a></li>
              <li><a class="dropdown-item" href="catElec">Electronica</a></li>
              <li><a class="dropdown-item" href="catElectro">Electrodomesticos</a></li>
              <li><a class="dropdown-item" href="catJuegos">Videojuegos</a></li>
              <li><a class="dropdown-item" href="catAccesorios">Accesorios</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="terminos.html">Terminos y condiciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nosotros.html">Nosotros</a>
          </li>
        </ul>
        <form class="d-flex" id="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <!--Contenido de la pagina-->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <!--Carrusel-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../resources/img/ofertas1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../resources/img/ofertas2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../resources/img/oferta3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <br>
  <!--Seccion ofertas-->
  <h2 style="text-align: center;" id="titulo-ofertas">Ofertas</h2>
  <br>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="../../resources/img/seccion1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
        <img src="../../resources/img/seccion2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
        <img src="../../resources/img/seccion3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!--Pie de la pagina-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h5>Tecnologic World</h5>
            <p>
              San Salvador <br>
              Santa Ana <br>
              La libertad <br>
              San Miguel
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Enlaces</h5>
            <p>
              <a href="">Inicio</a><br>
              <a href="">Contacto</a><br>
              <a href="">Terminos y condiciones</a><br>
              <a href="">Acerca de</a><br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Nuestros servicios</h5>
            <p>
              Reparacion <br>
              Garantia <br>
              Compra segura <br>
              Atencion al cliente <br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Nuestras Redes Sociales</h5>
            <p>
              <a href=""><img src="../../resources/img/facebook.png" alt="" width="20px" height="20">Facebook</a><br>
              <a href=""><img src="../../resources/img/insta.png" alt="" width="20px" height="20">Instagram</a><br>
              <a href=""><img src="../../resources/img/twitter.png" alt="" width="20px" height="20">Twitter</a><br>
              <a href=""><img src="../../resources/img/youtube.png" alt="" width="20px" height="20">Youtube</a><br>
            </p>
          </div>
          <hr>
          <div class="logo">
            <h6 style="text-align: center;">© Derechos reservador para Tecnologic World</h6>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>