<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/privado.css">
  <link rel="stylesheet" href="../../resources/css/gestion.css">
  

  <title>Tecnologic World</title>
</head>

<body>
  <!--Barra de navegacion-->
  <div class="top-navbar" id="nav2">
    <p>Tecnologic World</p>
    <div class="icons">
      <a href="login.html"><img src="../../resources/img/usuario.png" alt="" width="32px" height="32">Cerrar sesion</a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"></a>
      <img src="../../resources/img/Logo tienda.png" alt="" width="45" height="45" id="img">
      <span class="align-middle" id="banner">El mundo que nos conecta</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="principal.html">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Gestionar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="gestion_usuarios.html">Usuarios</a></li>
              <li><a class="dropdown-item" href="gestion_clientes.html">Clientes</a></li>
              <li><a class="dropdown-item" href="gestion_pedidos.html">Pedidos</a></li>
              <li><a class="dropdown-item" href="gestion_productos.html">Productos</a></li>
              <li><a class="dropdown-item" href="gestion_categorias.html">Categorias</a></li>
              <li><a class="dropdown-item" href="gestion_marcas.html">Marcas</a></li>
              <li><a class="dropdown-item" href="gestion_valoraciones.html">Valoraciones</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" id="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <!--Contenido-->
  <h4 style="text-align: center;">Gestion de pedidos</h4>
    <br>
  <div class="container" id="encabezado">
    <br>
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Filtrar
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active" href="#">Video</a></li>
          <li><a class="dropdown-item" href="#">Audio</a></li>
          <li><a class="dropdown-item" href="#">Electronica</a></li>
        </ul>
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <h6>Categoria: Video</h6>
  </div>
  <div class="container my-5" id="tabla">
    <table style="width: 100%;">
        <thead>
            <tr>
                <td>#</td>
                <td></td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Caracteristicas</td>
                <td>Especificaciones</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h6>1</h6>
                </td>
                <td></td>
                <!--<img src="../../resources/img/Categorias/Video/Producto2S.png" alt="">-->   
                <td>
                    <h6>Televisor</h6>
                </td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>$399.00</td>
            </tr>
            <tr>
                <td>
                    <h6>2</h6>
                </td>
                <td></td>
                <!--<img src="../../resources/img/Categorias/Video/Producto2S.png" alt="">-->   
                <td>
                    <h6>Televisor</h6>
                </td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>$399.00</td>
            </tr>
            <tr>
                <td>
                    <h6>3</h6>
                </td>
                <td></td>
                <!--<img src="../../resources/img/Categorias/Video/Producto2S.png" alt="">-->   
                <td>
                    <h6>Televisor</h6>
                </td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>$399.00</td>
            </tr>
        </tbody>
    </table>
    <br>
      <button type="button" class="btn btn-info">Agregar</button>
      <button type="button" class="btn btn-info">Eliminar</button>
      <button type="button" class="btn btn-info">Modificar</button>
  </div>
  <!--Pie de pagina-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h5>Tecnologic World</h5>
            <p>
              San Salvador <br>
              Santa Ana <br>
              La libertad <br>
              San Miguel
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Enlaces</h5>
            <p>
              <a href="">Inicio</a><br>
              <a href="">Contacto</a><br>
              <a href="">Terminos y condiciones</a><br>
              <a href="">Acerca de</a><br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Nuestros servicios</h5>
            <p>
              Reparacion <br>
              Garantia <br>
              Compra segura <br>
              Atencion al cliente <br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h5>Nuestras Redes Sociales</h5>
            <p>
              <a href=""><img src="../../resources/img/facebook.png" alt="" width="20px" height="20">Facebook</a><br>
              <a href=""><img src="../../resources/img/insta.png" alt="" width="20px" height="20">Instagram</a><br>
              <a href=""><img src="../../resources/img/twitter.png" alt="" width="20px" height="20">Twitter</a><br>
              <a href=""><img src="../../resources/img/youtube.png" alt="" width="20px" height="20">Youtube</a><br>
            </p>
          </div>
          <hr>
          <div class="logo">
            <h6 style="text-align: center;">© Derechos reservador para Tecnologic World</h6>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>